/* =========================================
   CSS VARIABLES AND RAW TAGS DEFAULT STYLES
   ========================================= */

html {
  /* Colors: */
  --primary-100: #c8eff8;
  --primary-300: #67d5ed;
  --primary-500: #278ca2;
  --primary-600: #1f7081;
  --primary-700: #0c5363;
  --primary-900: #00232a;

  --tonic-100: #ffe9d3;
  --tonic-300: #feb364;
  --tonic-500: #fd9222;
  --tonic-700: #ab5801;
  --tonic-900: #391d00;

  --success-100: #aef6c0;
  --success-300: #67d783;
  --success-500: #458e57;
  --success-700: #0b491a;
  --success-900: #03270c;

  --warning-100: #fdf5ca;
  --warning-300: #f6e274;
  --warning-500: #d5b613;
  --warning-700: #806e08;
  --warning-900: #1c1600;

  --danger-100: #fed8d3;
  --danger-300: #f79689;
  --danger-500: #e64b38;
  --danger-700: #871608;
  --danger-900: #380701;

  --neutral-100: #f2efef;
  --neutral-300: #d3d2d2;
  --neutral-500: #969595;
  --neutral-700: #4b4a4a;
  --neutral-900: #2a2929;

  /* Typography: */
  --font-title: "Montserrat", arial, sans-serif;
  --font-text: "Lato", helvetica, sans-serif;
  --font-mono: monospace;

  /* Text and Headings sizes: */
  --txt-size: 1.2rem;

  --xs-size: 0.9rem;
  --sm-size: 1rem;

  --h6-size: 1.3rem;
  --h5-size: 1.4rem;
  --h4-size: 1.5rem;
  --h3-size: 1.65rem;
  --h2-size: 1.8rem;
  --h1-size: 2rem;

  /* Breakpoints and Container max-width: */
  --small-breakpoint: 900px;
  --medium-breakpoint: 1340px;

  --small-container-width: 640px;
  --medium-container-width: 1024px;
  --large-container-width: 1440px;

  /* GLOBAL STYLE */
  box-sizing: border-box;

  color: var(--neutral-900);
  font-family: var(--font-text);
  font-size: var(--text-size);
  font-weight: 400;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: var(--small-container-width);
  margin: auto;
  height: 100vh;
  padding: 0 2rem;
}

#root {
  width: 100%;
  height: 100%;
  padding: 4rem 0;

  background: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;

  color: white;
  font-size: var(--txt-size);

  background: var(--primary-500);

  cursor: pointer;
  transition: all 300ms;
}

button:hover {
  background: var(--primary-600);
}

button:active {
  transform: scale(1.2, 1.1);
}
